<html>

    <head><title><%= title %></title>
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
    
    </head>
    <body>
        <div class="contain">
        <h1>Contact List</h1>
        <% for(let i of contact_list) {%>
        <div class="contact">
            <div class="detail">
                <p><%= i. name%></p>
                <p><%= i. phone%></p>
                
            </div> 
            <div class="delete">
                <a href="/delete-contact/?id=<%=i._id%>">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>                 
        </div>
        <%}%>
    </div>
        <div class="form1">
        <form action="/create_contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit" name="submit">SUBMIT</button>
        </form>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>

</html>